/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Asterisk wildcard selector to override deafult browser settings*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* Generic project styles */
    font-family: Mulish, sans-serif;
}

/* Header styles */
header {
    background-color: #ffb6c1;
    padding: 0.5rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h1 {
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
    padding-bottom: 0.5rem;
    margin: 0 2px;
    width: 100%;
}

.navigation {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navigation a {
    text-decoration: none;
    color: #3040a4;
    font-size: 11px;
    display: inline-block;
    margin-right: 1em;
    text-transform: uppercase;
}

.navigation li {
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: green;
}

/* Main styles */
main { 
    flex: 1 0 auto;
    /* Push body down from header section */
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#landing-image {
    background: url("../images/landing-new2.jpeg") no-repeat top center/cover;
    height: 800px;
    width: 100%;
    position: relative;
}

#landing-text {
    background-color: rgba(255, 182, 193, 0.7);
    font-size: 110%;
    position: absolute;
    top: 50vh;
    right: 10vw;
    width: 60%;
    min-height: 100px;
    max-width: 200px;
    font-weight: bold;
    padding: 4px;
    border-radius: 5px;
}

#about-1 {
    background-color: rgba(48, 64, 164, 0.7);
    font-size: 80%;
    color: #ffffff;
    position: absolute;
    bottom: 0vh;
    left: 0vw;
    width: 25%;
    min-height: 120px;
    text-align: center;
    padding: 2px;
}

#about-2 {
    background-color: rgba(200, 100, 192, 0.7);
    font-size: 80%;
    color: #ffffff;
    position: absolute;
    bottom: 0vh;
    left: 25%;
    width: 25%;
    min-height: 120px;
    text-align: center;
    padding: 2px;
}

#about-3 {
    background-color: rgba(48, 64, 164, 0.7);
    font-size: 80%;
    color: #ffffff;
    position: absolute;
    bottom: 0vh;
    left: 50%;
    width: 25%;
    min-height: 120px;
    text-align: center;
    padding: 2px;
}

#about-4 {
    background-color: rgba(200, 100, 192, 0.8);
    font-size: 80%;
    color: #ffffff;
    position: absolute;
    bottom: 0vh;
    left: 75%;
    width: 25%;
    min-height: 120px;
    text-align: center;
    padding: 2px;
}

/* Classes page styles */
#background-classes {
    background-color: #3040a4;
}

#background-classes li {
    list-style-type: none;
}

.class-head {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    align-items: center;
    min-height: 240px;
    background: url("../images/class-landing.jpeg") no-repeat center center/cover;
    border-radius: 50%;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

#background-classes h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    color: #ffffff;
    text-align: center;
}

.weekdays {
    background-color: rgba(48, 64, 164, .8);
    margin-bottom: 8rem;
}

.weekdays a {
    color:#ffffff;
}

.weekdays a:hover {
    color: #ffb6c1;
}

.days {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.days li {
    padding: 1em;
    background-color: rgba(200, 100, 192, 0.7);
}

/* trying to make full size of container?! */
.days ul {
    width: 100%;
    height: 100%;
}

.days h4 {
    font-size: 120%;
}

.class-blocks {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(200, 100, 192, 0.7);
   }

.class-blocks h3 {
    margin-top: 4rem;
    font-size: 150%;
    color: #ffffff;
}   

.monday {
    /*background-color: lightgreen;*/
    background: url("../images/music-class.webp") no-repeat center center/cover;
    width: 60%;
    /*max-width: 500px;*/
    display: flex;
    margin-top: 1rem;
    /*padding: 1rem;*/
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
}

.tuesday {
    background: url("../images/dance-class.avif") no-repeat center center/cover;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    /* margin: 5px; */
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
}

.wednesday {
    background: url("../images/wed-class.jpeg") no-repeat center center/cover;
    width: 60%;
    display: flex;
    /* margin: 5px; */
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
}

.thursday {
    background: url("../images/thurs-class.jpeg") no-repeat center center/cover;
    width: 60%;
    display: flex;
    /* margin: 5px; */
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
}

.friday {
    background: url("../images/spanish-class.avif") no-repeat center center/cover;
    width: 60%;
    display: flex;
    /* margin: 5px; */
    margin-bottom: 3rem;
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
}

/* Sign-up page styles */
#background-signup {
background-color: rgb(200, 100, 192);
}

#background-signup h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}

.image {
    background: url("../images/signup-form.avif") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    width: 60%;
    min-height: 240px;
    border-radius: 50%;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.form-button {
    margin-bottom: 13rem;
    background-color: #ffb6c1;
    color: #000000;
    padding: 5px;
    border-radius: 5px;
}

.form-button a {
    text-decoration: none;
}

.form-button a:visited {
    color:#000000;
}

.form-button a:hover {
    color: #ffb6c1;
}

.sign-up {
    background-color: #ffb6c1;
    margin-bottom: 3rem;
    padding: 1rem;
    border-radius: 5px;
}

.sign-up h3 {
    text-align: center;
}

.submit {
    background-color: #3040a4;
    color:#ffffff;
    padding: 3px;
    border-radius: 5px;
}

/* Footer styles */
footer {
    background-color: #ffb6c1;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.social {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    list-style-type: none;
}

.social a {
    display: flex;
    align-items: center;
    margin: 0 2rem;
    color:#3040a4;
}

.social a:visited {
    color: #3040a4;
}



/* Media query: larger phones (409 and up) */
@media screen and (min-width: 409px) {
    #about-1, #about-2, #about-3, #about-4 {
        min-height: 100px;
    }
    main {
        margin-top: 44px;
    }
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    header h1 {
        font-size: 25px;
    }

    #about-1, #about-2, #about-3, #about-4 {
        font-size: 120%;
        min-height: 100px;
    }

    .class-head {
        min-height: 350px;
    }

    .image {
        min-height: 350px;
    }
}

/* Media query: laptops and larger (1024 and up) */
@media screen and (min-width: 1024px) {
    .class-head {
        min-height: 400px;
    }

    .image {
        min-height: 400px;
    }
}