/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Asterisk wildcard selector to override deafult browser settings*/
* {
    padding: 0;
    margin: 0;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    font-family: Mulish, sans-serif;
}

/* Header styles */
header {
    background-color: lightseagreen;
    padding: 0.5rem;
    width: 100%;
    position: fixed;
    z-index: 10;
}

header h1 {
    font-size: 24px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 0.5rem;
    margin: 0 5px;
}

.navigation {
    display: flex;
    justify-content: center;
}

.navigation a {
    text-decoration: none;
    color: red;
    margin: 0 0 0 1rem;
    font-size: 13px;
}

a:hover {
    color: green;
}

/* Main styles */
main {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    /* Push body down from header section */
    margin-top: 70px;
}

#landing-image {
    background: url("../images/landing-image2.jpeg") no-repeat top center/cover;
    height: 800px;
    width: 100%;
    position: relative;
}

#landing-text {
    background-color: rgba(200, 100, 100, .7);
    font-size: 130%;
    position: absolute;
    top: 50vh;
    right: 10vw;
    width: 60%;
    min-height: 100px;
    max-width: 200px;
}

#about-1 {
    background-color: rgba(200, 100, 100, .7);
    font-size: 80%;
    position: absolute;
    bottom: 0vh;
    left: 0vw;
    width: 25%;
    min-height: 140px;
    text-align: center;
}

#about-2 {
    background-color: rgba(54, 146, 106, 0.7);
    font-size: 80%;
    position: absolute;
    bottom: 0vh;
    left: 25%;
    width: 25%;
    min-height: 140px;
    text-align: center;
}

#about-3 {
    background-color: rgba(200, 100, 100, .7);
    font-size: 80%;
    position: absolute;
    bottom: 0vh;
    left: 50%;
    width: 25%;
    min-height: 140px;
    text-align: center;
}

#about-4 {
    background-color: rgba(54, 146, 106, 0.7);
    font-size: 80%;
    position: absolute;
    bottom: 0vh;
    left: 75%;
    width: 25%;
    min-height: 140px;
    text-align: center;
}

/* Classes page styles */
#background-classes {
    background-color: lightblue;
    height: 1000px;
    width: 100%;
    position: relative;
    padding: 10px;
}

#background-classes li {
    list-style-type: none;
}

.class-head {
    height: 100vh;
    position: absolute;
}

.days {
    position: absolute;
    text-align: right;
    top: 40vh;
    margin-left: 2rem;
}

#monday {
    position: absolute;
    top: 100vh;
    background-color: lightgreen;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

#tuesday {
    position: absolute;
    top: 130vh;
    background-color: lightgreen;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

/* Sign-up page styles */
#sign-up-ex {
    background-color: deepskyblue;
    height: 600px;
    width: 100%;
}
/* Footer styles */
footer {
    background-color: lightpink;
    display: flex;
    height: 30px;
    width: 100%;
}

.social {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.social a {
    display: flex;
    align-items: center;
    margin: 0 2rem;
}

/* Media query: larger phones (425 and up) */
@media screen and (min-width: 425px) {
    #about-1, #about-2, #about-3, #about-4 {
        min-height: 100px;
    }
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    header h1 {
        font-size: 32px;
    }

    #about-1, #about-2, #about-3, #about-4 {
        font-size: 120%;
        min-height: 100px;
    }
}
